@model IEnumerable<moeDeloTst.Models.Document>

@{
    ViewData["Title"] = "Документы контрагента";
}

    <h2>Документы контрагента</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewContext.RouteData.Values["id"]">Создать новый документ</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Вы действительно хотите удалить запись?');">Удалить</a>
            </td>
        </tr>
    }
</table>